html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
	font-family: Sans-Serif;
}

#map {
  position: absolute;
  top: 0;
  bottom: 30px;
  left: 0;
  right: 0;
}

svg {
  -webkit-filter: blur(0px);
  filter: blur(0px);
}

.debug-output {
	position: absolute;
	opacity: 0.3;
	right: 0;
	background-color: rgba(255, 255, 255, 0.5);
	z-index: 401;
	padding: 10px;
	display: none;
}

.marker-icon {
	background-color: lightgreen;
  background-image: url(../img/Archaeological_site_icon.png);
  background-size: 100% 100%;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition-duration: 300ms;
}

.marker-label {
  position: absolute;
  display: inline-block;
  left: 20px;
  height: 20px;
  background-color: #fff;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
  white-space: nowrap;
  padding-left: 5px;
  padding-right: 5px;
  transform: scaleX(0);
  transform-origin: 0% 50%;
  transition-duration: 500ms;
}

.marker-label.show {
  transform: scaleX(1);
}
